#website-header {
    font-size: xx-large;
    font-style: italic;
    border-width: 2px;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    background-color: lightblue;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
div.nav {
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    width: 800px;
    height: 25px;
    background-color: lightgray;
    position: relative;
    left: 0px;
}

.index-choose-language {
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index-choose-language>select, .index-choose-language>button {
    height: auto;
    width: auto;
}
div.header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: lightgray;
    right: 0px;
}